name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - run: dart pub get
      - name: Format 
        run: dart format --set-exit-if-changed .
      - name: Analyze code
        run: dart analyze --fatal-warnings
      - name: Run tests
        run: dart test