name: Publish

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: dart-lang/setup-dart@v1
      with:
        sdk: stable
    
    - name: Install dependencies
      run: dart pub get
    
    - name: Publish to pub.dev
      run: dart pub publish --force
  
  release:
    needs: publish
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            output-name: drun-linux-x64
          - os: macos-latest
            output-name: drun-macos-x64
          - os: windows-latest
            output-name: drun-windows-x64.exe
    
    steps:
    - uses: actions/checkout@v4
    
    - uses: dart-lang/setup-dart@v1
      with:
        sdk: stable
    
    - name: Install dependencies
      run: dart pub get
    
    - name: Compile executable for ${{ matrix.output-name }}
      run: dart compile exe bin/drun.dart -o ${{ matrix.output-name }}
    
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: ${{ matrix.output-name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
